slideTransition = all linear 2s

.invisible
	opacity 0
	transition all linear 2s
	-webkit-transition: all linear 2s
	
.visible
	opacity 1
	transition all linear 2s
	-webkit-transition: all linear 2s

.jumbotron
	display none
	
.carousel
	overflow hidden
	.active
		display block
		right 0
		left 0
		transition slideTransition
	.left-image
		display block
		left -500px
		transition slideTransition
	.right-image
		display block
		right -1000px
		transition slideTransition
	
